
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
   font-family: 'Montserrat',serif;
}
a , a:hover{
    text-decoration: none;
}
p{
    letter-spacing: 1px;
}
.sitelogo {
    width:auto;
    height: 120px;
}
.main-header {
    background-color: #106f19;
}
.nav-link {
    color: #fff !important;
    font-size: 15px;
    margin-right: 2px;
    letter-spacing: 1px;
}
.nav-phone{
    float: right;
    color: #000000;
    font-weight: 8s00;
    font-size: 15px;
}
.nav-contacts-col{
    margin-right: 8px;
    float: right;
}
.nav-contacts-sec {
    background: #fff;
}

.fa-solid {
    color: #106F18;
    margin-right: 8px;
    font-size: 17px;
}
.fa-facebook{
    color: #1773EA;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.nav-phone:hover{
    color: #54e260;
    font-weight: bold;
}
.nav-contacts-col{
    color: #fff;
}
.nav-contacts-col a{
    margin: 10px;
}
